{{ 'collection-grid.css' | asset_url | stylesheet_tag }}
<div class="collection-grid">
  <carousel-slider
    class="carousel block"
    inactive
    disable-desktop="true"
  >
    <div class="container relative">
      <div class="slider" id="slider-{{ section.id }}">
        <ul
          class="collection-grid__slider container slider__grid grid grid-flow-col auto-cols-1 sm:grid-cols-2 md:grid-cols-{{ section.settings.grid-columns }} gap-x-theme gap-y-8"
          role="list"
        >
          {% for block in section.blocks %}
            {% if block.settings.fit_image %}
              {% assign image_fit = 'img-fit--cover' %}
            {% else %}
              {% assign image_fit = 'img-fit--contain' %}
            {% endif %}
            <li
              class="slider__item cc-animate-init cc-animate-in"
              data-cc-animate=""
              data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"
              style="animation-delay: 0.07s;"
            >
              <div
                class="collection-grid__card flex flex-col justify-center items-center {{ image_fit }}"
                style="--feature-color: {% unless block.settings.background_override.alpha == 0 %} {{ block.settings.background_override }}{% else %} {{ block.settings.collection.metafields.custom.collection_background_ }}{% endunless %}"
              >
              {% if block.settings.logo_override != blank %}
                {{
                  block.settings.logo_override
                  | default: block.settings.collection.metafields.custom.logo
                  | image_url: width: 400
                  | image_tag: class: 'collection-grid__logo'
                }}
              {% endif %}
              {% if block.settings.image_override != blank %}
                <div class="grow relative w-full">
                  {{
                    block.settings.image_override
                    | default: block.settings.collection.image
                    | image_url: width: 600
                    | image_tag: class: 'collection-grid__img img-fit img-fit--contain'
                  }}
                </div>
              {% endif %}
                {% if block.settings.hover_text != blank %}
                  <div class="collection-grid__hover absolute h2 text-center m-0">
                    {{ block.settings.hover_text }}
                  </div>
                {% endif %}
                <a
                  href="{{ block.settings.collection.url }}"
                  class="collection-grid__link absolute w-full h-full top-0 left-0"
                ></a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </carousel-slider>
</div>
{% schema %}
{
  "name": "Collection Grid",
  "presets": [{ "name": "Collection Grid" }],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "color",
          "id": "background_override",
          "label": "Background Override"
        },
        {
          "type": "image_picker",
          "id": "logo_override",
          "label": "Logo Override"
        },
        {
          "type": "image_picker",
          "id": "image_override",
          "label": "Image Override"
        },
        {
          "type": "checkbox",
          "id": "fit_image",
          "label": "Fit image to container",
          "info": "Make the image take up the full size of the container"
        },
        {
          "type":"text",
          "id":"hover_text",
          "label":"Hover Text",
          "default":"Discover"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "grid-columns",
      "label": "Amount of columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "unit": "col",
      "default": 3
    }
  ]
}
{% endschema %}
