{% liquid
  assign show = false
  if section.settings.show_to == 'all' or request.design_mode
    assign show = true
  elsif customer and section.settings.show_to == 'customer'
    assign show = true
  elsif section.settings.show_to == 'guest'
    unless customer
      assign show = true
    endunless
  endif
%}
{% if show %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  {{ 'parallax-images.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'parallax-images.js' |  asset_url }}" defer></script>
  <parallax-images
    class="parallax-images{% if section.settings.contained %} container{% endif %}"
    id="{{ section.id }}"
    {% if settings.animations_enabled != 'disabled' and section.settings.prevent_animation == false %}
      data-cc-animate
    {% endif %}
  >
    {% for block in section.blocks %}
      <div
        class="parallax-images__container"
        data-depth="{{ block.settings.depth }}"
        style="--vertical: {{ block.settings.vertical | default: 0 | append: 'px' }}; --horizontal: {{ block.settings.horizontal | default: 0 | append: 'px' }};--vertical-mobile: {{ block.settings.vertical_mobile | default: 0 | append: 'px' }}; --horizontal-mobile: {{ block.settings.horizontal_mobile | default: 0 | append: 'px' }};"
      >
        <div
          class="parallax-images__image flex {% if block.settings.right %}justify-end{% else %}justify-start{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_enabled != 'disabled' and section.settings.prevent_animation == false %}
            data-cc-animate
          {% endif %}
        >
          {% assign most = block.settings.width |  default: 350 %}
          {%  assign image_width = block.settings.image.width | at_most: most  %}
          {{ block.settings.image | image_url: width: image_width | image_tag: loading: 'lazy' }}
        </div>
      </div>
    {% endfor %}
  </parallax-images>
{% endif %}
{% schema %}
{
  "name": "Parallax images",
  "presets": [{ "name": "Parallax Image" }],
  "settings": [
    {
      "type": "select",
      "id": "show_to",
      "label": "Show To",
      "default": "all",
      "info": "Will always show in customiser",
      "options": [
        {
          "label": "All",
          "value": "all"
        },
        {
          "label": "Customers",
          "value": "customer"
        },
        {
          "label": "Non Customer",
          "value": "guest"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "contained",
      "label": "Contained?"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "number",
          "id": "vertical",
          "label": "Vertical",
          "info": "px transform"
        },
        {
          "type": "number",
          "id": "horizontal",
          "label": "Horizontal",
          "info": "px transform"
        },
        {
          "type": "number",
          "id": "vertical_mobile",
          "label": "Vertical (Mobile)",
          "info": "px transform"
        },
        {
          "type": "number",
          "id": "horizontal_mobile",
          "label": "Horizontal (Mobile)",
          "info": "px transform"
        },
        {
          "type": "checkbox",
          "id": "right",
          "label": "Right"
        },
        {
          "type": "range",
          "id": "depth",
          "label": "Depth",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "default": 0.1
        },
        {
          "type":"number",
          "id":"width",
          "label":"Width"
        }
      ]
    }
  ]
}
{% endschema %}
